*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#historia-main{
  padding: 70px;
  text-align: center;
  background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p1/22459957-mistico-floresta-cena-as-noite-como-digital-arte-gerar-ai-gratis-foto.jpg') ;
  background-size: cover;
  background-position: center;
  height: 1000px;
  color: white;
}

.titulo-historia{
  font-size: 2.5vw;
  padding: 50px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 1);
}

#historia-main p{
  font-size: 1.25vw;
  width: 50%;
  margin: 0 auto;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

