* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 233, 208);
}

.cores-familia {
  display: flex;
  text-align: center;
}

.cores-familia p {
  padding: 1vw;
  font-size: 1vw;
}

.cores-titulo {
  font-weight: 800;
}

.quadrado {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 4px;
}

.pai {
  background-color: rgb(252, 96, 96);
}

.mae {
  background-color: rgb(92, 92, 255);
}

.filho {
  background-color: rgb(95, 139, 95);
}

.filha {
  background-color: rgb(252, 252, 123);
}

.todos {
  background-color: rgb(184, 184, 184);
}

.titulo {
  padding: 1vw;
  text-align: center;
  background-color: rgb(255, 218, 172);
  font-size: 2vw;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main div {
  padding-bottom: 5vw;
}

.cardapio,
.supermercado,
.tarefas {
  padding: 15px;
  display: inline-block;
  vertical-align: top;
}

.supermercado,
.tarefas {
  width: 20%;
}

.cardapio {
  width: 60%;
  background-color: #bfd7aa;
}

.supermercado {
  background-color: #93deee;
}

.tarefas {
  background-color: #ffd4e1;
}

.cardapio-titulo,
.supermercado-titulo,
.tarefas-titulo {
  text-align: center;
  padding: 0 0 1vw 0;
  font-size: 1.4vw;
  font-style: italic;
}

.tabela-cardapio {
  margin: auto;
  border-collapse: collapse;
  width: 90%;
  font-size: 1vw;
}

.tabela-cardapio th,
.tabela-cardapio td {
  padding: 10px;
  text-align: center;
}

.tabela-cardapio th {
  background-color: #a7d67d;
}

.supermercado-lista,
.tarefas-lista {
  font-size: 1vw;
  list-style-position: inside;
}

.supermercado-lista {
  list-style-type: " - ";
}

.supermercado-lista li,
.tarefas-lista li {
  padding: 0.25vw;
  border: 1px solid #333;
}

@media (max-width: 1200px) {
  .cardapio {
    width: 100%;
  }

  .supermercado,
  .tarefas {
    width: 50%;
  }

  .supermercado-lista,
  .tarefas-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .supermercado-lista li,
  .tarefas-lista li {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .titulo {
    font-size: 2.5vw;
  }

  .cores-familia p {
    font-size: 1.5vw;
  }

  .cardapio,
  .supermercado,
  .tarefas {
    width: 100%;
  }

  .tabela-cardapio {
    font-size: 1.5vw;
  }

  .cardapio-titulo,
  .supermercado-titulo,
  .tarefas-titulo {
    font-size: 1.9vw;
  }

  .supermercado-lista,
  .tarefas-lista {
    font-size: 1.5vw;
  }
}
